.habits-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.habit-card {
  background-color: #3a5b22;
  color: white;
  cursor: pointer;
  gap: 5%;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.habit-card:hover {
  opacity: 0.8;
}
