.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 40%;
}

.form-container h2 {
  color: #3a5b22;
}

.form-container h4 {
  font-weight: bold;
  margin-bottom: 60px;
}

.form-container button {
  align-self: center;
  background-color: #3a5b22;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  height: 56px;
  text-align: center;
  width: 100%;
}

.form-container button:hover {
  opacity: 0.9;
}

.form-container button:disabled {
  opacity: 0.5;
}
