.header-container {
  align-items: center;
  background-color: #3a5b22;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 300px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-right: 30px;
}

.nav-container a {
  color: white;
}

.nav-container a:hover {
  opacity: 0.7;
}
